<div class="contest-status">
  <p>Question 1 to 50</p>
  <div class="time-left">Time left: 3:00 mints</div>
</div>
<div id="left_panel">
  <ul class="questions">
    <div style="height: 950px; overflow: auto;">
      <% 50.times do |i| %>
        <li><%=i+1%></li>
      <% end %>
    </div>
  </ul>
</div>
<div id="right_panel">
  <div class="all_questions">
    <div class="qt">
      <div class="question">1. CSS font shorthand rule</div>
      <ul class="answers">
        <li><label>A.</label> <label><input type="radio" /></label> <label>Yes</label></li>
        <li><label>B.</label> <label><input type="radio" /></label> <label>Yes It is</label></li>
        <li><label>C.</label> <label><input type="radio" /></label> <label>Yes dgs dg</label></li>
        <li><label>D.</label> <label><input type="radio" /></label> <label>Yes dsg gsdg dsgs gdg</label></li>
        <li><label>E.</label> <label><input type="radio" /></label> <label>Yes dg sdg dsg sdgsd gds</label></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
